.navbar {
    background-color: #333;
    padding: 10px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-btn {
    background-color: transparent;
    border: none;
    color: white;
    cursor: pointer;
}

.sidebar {
    position: fixed;
    left: -300px;
    top: 0;
    width: 250px;
    height: 100%;
    background-color: #555;
    padding: 20px;
    transition: left 0.3s ease;
}

.sidebar p {
    color: white;
}

.sidebar button {
    background-color: #ddd;
    border: none;
    padding: 5px 10px;
    margin-top: 10px;
    cursor: pointer;
}

.close-btn {
    background-color: transparent;
    border: none;
    color: white;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

.urzadzenie {
    background-color: lightgray;
    padding: 10px;
    margin-top: 10px;
}

.urzadzenie .info {
    display: flex;
    justify-content: space-between;
}

.urzadzenie .nazwa {
    flex-grow: 1;
}

.urzadzenie .status {
    text-align: center;
    flex-grow: 1;
}

.urzadzenie .opcje {
    text-align: right;
    flex-grow: 1;
}

/* Styl dla przycisku z ikoną */
.opcje a {
    color: black;
    text-decoration: none;
}

.opcje a:hover {
    color: darkblue;
}